.footer {
    position: absolute;
    left: 2px;
    bottom: 16px;
    text-align: left;
    background: rgba(0, 0, 0, .7);
    padding: 8px 18px;
    border-radius: 32px;
    opacity: .90;
    backdrop-filter: blur(8px);
    font-size: 15px;
  }
  
  .footer span {
    font-size: 12px;
    color: #09f;
    opacity: .8;
  }
  
  .footer h4, .footer h5 {
    margin: 0;
    display: flex;
  }

  @media screen and (width <1075px) {
    .footer{
      display: none;
    }
  }